# Dashboard API base URL (dari browser)
NEXT_PUBLIC_API_URL=http://localhost:8086
# URL tempat track.js diserve (untuk kode pemasangan)
NEXT_PUBLIC_TRACKER_URL=http://localhost:8085
# NextAuth
NEXTAUTH_SECRET=ganti-dengan-random-string
NEXTAUTH_URL=http://localhost:3000